#main-container {
  padding: 1em 2em;
}

.nav {
  margin: auto;
  margin-top: 1%;
  background-color: white;
  position: -webkit-sticky; /* Safari compatability*/
  position: sticky;
  border: 1px solid black;
}

.nav a {
  color: #707070;
  display: block;
  padding: 10px;
  margin: 0px 10px;
}

.nav a:hover {
  color: black;
  text-decoration: none;
}

.nav li {
  display: inline;
}

#Logos {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-top: 10%;
    margin-bottom: 1%;
    background-color: #e6e6e6;
}

#BnF_container {
    display: inline-block;
    max_width: 25%;
    height: 100%;
    margin-left: 5%;
    margin-right: 10%;
}

#BnF_logo {
    max-width: 200%;
    height: auto;
}

#MIT_container {
    display: inline-block;
    max_width: 25%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#MIT_logo {
    max-width: 150%;
    height: auto;
}

#DH_container {
    display: inline-block;
    max_width: 25%;
    height: 100%;
    margin-left: 5%;
    margin-right: -15%;
}

#DH_logo {
    max-width: 50%;
    height: auto;
}

#Performant_container {
    display: inline-block;
    max_width: 25%;
    height: 100%;
    margin-top: -1%;
    margin-right: 25%;
}

#Performant_logo {
    max-width: 650%;
    height: auto;
    margin: auto;
}
