#main-container {
  padding: 1em 2em;
}

#nav-bar {
  margin-top: 1%;
  padding: 0px;
  background-color: white;
}

#nav-toggle{
  width: fit-content;
}

.nav {
  margin: auto;
  width: 100%;
  border: 1px solid #707070;
}

.nav a {
  color: #707070;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: auto;
  text-decoration: none;
}

.dropdown {
  margin: auto;
  display: block;
  width: 95%;
}

.nav a:hover {
  color: #353535;
  text-decoration: none;
}

.dropdown-title {
  width: 100%;
}

.dropdown-content {
  display: none;
  text-align: center;
  background-color: white;
  border: 1px solid #707070;
  z-index: 1;
  min-width: 100%;

  a {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .dropdown {
    display: flex;
    justify-content: center;
    width: fit-content;
  }
  .dropdown-content {
    position: absolute;
    margin-top: 40px;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.lang-button {
    margin: auto 0 auto 1%;
    margin-left: 1%;
    color: #707070;

    #active {
      color: #353535;
      font-weight: bold;
    }

    a:hover {
      cursor: pointer;
      color: #353535;
    }
}

#Logos {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: #e6e6e6;
}

#BnF_container {
    display: inline-block;
    max_width: 25%;
    height: 100%;
    margin-left: 5%;
    margin-right: 10%;
}

#BnF_logo {
    max-width: 200%;
    height: auto;
}

#MIT_container {
    display: inline-block;
    max_width: 25%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#MIT_logo {
    max-width: 150%;
    height: auto;
}

#DH_container {
    display: inline-block;
    max_width: 25%;
    height: 100%;
    margin-left: 5%;
    margin-right: -15%;
}

#DH_logo {
    max-width: 50%;
    height: auto;
}

#Performant_container {
    display: inline-block;
    max_width: 25%;
    height: 100%;
    margin-top: -1%;
    margin-right: 25%;
}

#Performant_logo {
    max-width: 650%;
    height: auto;
    margin: auto;
}
