@import '~normalize.css';
@import './global.scss';

.page-header {
    text-align: center;
    margin-top: 1.5%;
    padding: 2.5%;
    font-style: normal;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

#HomeImage {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

#HomeBlurb {
    //text-align: center;
    font-size: 150%;
    font-weight: 200;
    line-height: 150%;

    a {
        color: #707070;
        text-decoration: underline;
    }
}

#home-divider {
    text-align: center;
    font-size: 150%;
    font-weight: 200;
    line-height: 150%;
}

#AboutIntro {
    margin-top: 3%;
    display: inline-block;

    img {
        float: left;
        width: 25%;
        height: 25%;
        margin-left: 1.5%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    p {
        text-align: left;
        margin-right: 1.5%;
        margin-left: 1.5%;
        font-size: 150%;
        font-weight: 200;
    }

    a {
        color: #707070;
        text-decoration: underline;
    }

    @media screen and (max-width: 500px) {
        img {
            margin: auto;
            width: 100%;
            padding-bottom: 20px;
        }
    }
}

#AboutPageContents {
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 8%;
    font-size: 150%;
    font-weight: 200;
}

#AboutProfiles {
    margin-top: 60px;
    text-align: center;

    h3 {
        text-decoration: underline;
        margin-bottom: 20px;
    }

    p {
        margin: auto;
        margin-bottom: 30px;
        font-size: 150%;
        font-weight: 200;
    }
}

#manufacture-header {
    margin-top: 3%;
    color: #707070;
    text-decoration: underline;
}

.manufacture-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .manufacture-images {
        display: flex;
        justify-content: center;
        margin-top: 3%;
        width: 95%;

        img {
            max-width: 100%;
            max-height: 500px;
            padding: 10px;
            text-align: center;
        }
    }

    .manufacture-images-double {
        display: flex;
        justify-content: center;
        margin-top: 3%;
        width: 95%;

        img {
            max-width: 50%;
            max-height: 500px;
            padding: 10px;
            text-align: center;
        }
    }

    .manufacture-image-1-9-container {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    .manufacture-image-1-9 {
        width: 95%;
        text-align: center;
    }

    .manufacture-caption {
        width: 60%;
        padding-top: 1.5%;
        font-size: 90%;
        text-align: center;
    }

    p {
        margin-right: 3%;
        margin-left: 3%;
        padding-top: 8px;
        font-size: 125%;
        font-weight: 300;
        text-align: left;
    }
}

#MaterialsMenu {
    display: flex;
}

.MaterialsMenuItem {
    text-align: center;
    margin-bottom: 10px;

    a {
        p {
            font-size: 150%;
            font-weight: 200;
            color: #787878;
            text-decoration: underline;
        }

        img {
            width: 50%;
        }
    }
}

@media screen and (max-width: 500px) {
    #MaterialsMenu {
        display: block;
    }
}

#BackMenuImage {
    margin-top: -12%;
    margin-bottom: -12%;
    transform: rotate(270deg);
}


.dialog {
    box-shadow: 0 8px 6px -6px #707070;
    border: 3px solid #707070;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    text-decoration: underline;
}

.material-subpage-intro {
    display: inline-block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 8%;

    img {
        width: 25%;
        height: 25%;
        margin-left: 1.5%;
        margin-right: 3%;
        float: left;
    }

    #back-intro {
        float: right;
        margin-right: 1.5%;
        width: 22%;
    }

    p {
        margin-right: 1.5%;
        margin-left: 1.5%;
        font-size: 150%;
        font-weight: 200;
    }

    #back-text {
        width: 43%;
        float: left;
        margin-left: 0%;
    }

    a {
        color: #707070;
        text-decoration: underline;
    }

    @media screen and (max-width: 500px) {
        img {
            margin: auto;
            width: 100%;
            padding-bottom: 20px;
        }

        #back-text {
            width: 100%;
        }

        #back-intro {
            display: none;
        }
    }
}

.material-subpage-item {
    margin-left: 3%;
    margin-right: 3%;
    color: #707070;

    h3 {
        text-decoration: underline;
    }

    h4 {
        text-decoration: underline;
    }

    .material-subpage-item-contents {
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 0.5%;
        margin-bottom: 9%;

        p {
            font-size: 125%;
            font-weight: 300;
            margin-bottom: 3%;
            text-align: left;
        }

        a {
            color: #707070;
            text-decoration: underline;
        }

        .material-subpage-item-images {
            display: flex;
            justify-content: center;

            .material-subpage-item-image-caption {
                margin-left: 3%;
                margin-right: 3%;
                width: 30%;
                text-align: center;
                img {
                    object-fit: scale-down;
                    margin-bottom: 3%;
                    height: 300px;
                }

                .popup-image {
                    padding: 1%;
                    margin: 1px;
                    height: 90%;
                }

                p {
                    font-size: 80%;
                }
            }
        }

        @media screen and (max-width: 1300px) {
            .material-subpage-item-images {
                display: block;
                width: 95%;

                .material-subpage-item-image-caption {
                    width: 100%;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        .back-caption {
            font-size: 90%;
        }
    }

    #SourceFooter {
        text-align: center;
        font-weight: 300;
    }
}

.iconography-header {
    color: #707070;
    text-decoration: underline;
    margin-bottom: 3%;
}

#IconographyIntro {
    display: inline-block;
    margin-bottom: 5%;
    text-align: center;

    img {
        width: 25%;
        margin-left: 3%;
        margin-right: 3%;
        float: left;
    }

    p {
        text-align: left;
        margin-left: 1.5%;
        margin-right: 3%;
        font-size: 150%;
        font-weight: 200;
    }

    a {
        color: #707070;
        text-decoration: underline;
    }

    @media screen and (max-width: 500px) {
        img {
            margin: auto;
            width: 100%;
            padding-bottom: 20px;
        }
    }
}

#iconography-deck {
    margin-bottom: 5%;

    p {
        text-align: left;
        margin-left: 3%;
        font-size: 150%;
        font-weight: 200;
    }

    .iconography-deck-row {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;

        .iconography-deck-col {
            flex: 33%;

            .iconography-deck-card {     
                text-align: center;
           
                img {
                    object-fit: scale-down;
                    height: 400px;
                }

                .popup-image {
                    padding: 1%;
                    margin: 1px;
                    width: 100%;
                    height: 100%;
                }

                p {
                    text-align: center;
                    margin-left: 0%;
                    padding-top: 1%;
                    font-size: 95%;
                }
            }
        }
    }
}

.search-link {
    font-size: 150%;
    font-weight: 200;
    text-align: center;
    margin-top: 1.5%;

    a {
        color: #707070;
        text-decoration: underline;
    }
}

#search-page {
    display: flex;
    height: 100vh;
    overflow: auto;
}

#search-column {
    flex: 1;
    position: sticky;
    top: 0;
    padding-top: 1rem;
}

#search-results-column {
    flex: 3;

    .card-image {
        width: 100%;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    li {
        display: inline-block;
        flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
        padding: 2%;
    }
    
    #CardOutline {
        padding: 5%;
    }
}

.search-filter {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#search-select {
    margin-top: 0rem;
}

#tarot-mascot {
    width: 20%;
    height: 20%;
    margin-left: 1.5%;
    margin-right: 3%;
    float: left;
}

#tarot-history-menu-img {
    height: 72%;
}

.tarot-subpage-item {
    margin-left: 3%;
    margin-right: 3%;
    color: #707070;

    h3 {
        text-decoration: underline;
    }

    h4 {
        text-decoration: underline;
    }

    .tarot-subpage-item-contents {
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 0.5%;
        margin-bottom: 9%;

        p {
            font-size: 125%;
            font-weight: 300;
            margin-bottom: 3%;
            text-align: left;
        }

        .tarot-subpage-item-images {
            display: flex;
            justify-content: center;

            .tarot-subpage-item-image-caption {
                margin-left: 3%;
                margin-right: 3%;
                width: 30%;
                text-align: center;
                img {
                    object-fit: scale-down;
                    margin-bottom: 3%;
                    height: 400px;
                }

                .popup-image {
                    padding: 1%;
                    margin: 1px;
                    width: 100%;
                    height: 100%;
                }

                p {
                    font-size: 80%;
                }
            }

            #tarot-revolutionary-card-reading {
                margin-left: 3%;
                margin-right: 3%;
                text-align: center;

                img {
                    margin-bottom: 3%;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                }

                .popup-image {
                    padding: 1%;
                    margin: 1px;
                    width: 100%;
                    height: 100%;
                }

                p {
                    font-size: 80%;
                    text-align: center;
                }
            }
        }

        @media screen and (max-width: 1300px) {
            .tarot-subpage-item-images {
                display: block;
                width: 95%;

                .tarot-subpage-item-image-caption {
                    width: 100%;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

#TarotDeckNote {
    text-align: center;
    font-weight: 300;
    font-size: 125%;
    color: #707070
}

#TarotHistoryNote {
    text-align: center;
    font-weight: 300;
    font-size: 125%;
    color: #707070
}

#bibliography-mascot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#gamespace {
    border: 1px solid #707070;
    min-height: 500px;
    text-align: center;

    h3 {
        margin: 20px auto;
        color: #353535;
    }

    input {
        padding: 2px;
    }

    button {
        background-color: white;
        color: black;
        border: 2px solid #d3d3d3;
        border-radius: 8px;
        transition-duration: 0.2s;
        margin: 20px;
    }

    button:hover {
        background-color: #d3d3d3 ;
    }

    p {
        margin: 20px;
    }
}

#divination-cards{
    display: flex;
    width: 70%;
    margin: auto;

    img {
        width: 20%;
        flex: 33.3%;
        padding: 5px;
    }
}

.bibliography-content{
    h3 {
        margin-top: 5%;
        margin-bottom: 1.5%;
        color: #707070;
        text-decoration: underline;
    }

    p {
        text-align: left;
        margin-left: 3%;
        padding-top: 10px;
        font-size: 100%;
        font-weight: 200;
    }

    a {
        color: #707070;
        text-decoration: underline;
    }
}

.games-header {
    font-size: 150%;
    font-weight: 200;
    text-align: center;
    margin-top: 1.5%;
    color:#707070;
}

#Games-Menu {
    display: flex;
}

.Games-Menu-Item {
    text-align: center;
    margin-bottom: 10px;

    a {
        p {
            font-size: 150%;
            font-weight: 200;
            color: #787878;
            text-decoration: underline;
        }

        img {
            width: 50%;
        }
    }
}

@media screen and (max-width: 500px) {
    #Games-Menu {
        display: block;
    }
}

.solitaireBoard {
    display: flex;
    padding: 3%;
    justify-content: center;
    align-items: center;
}

.solitaireStack {
    display: block;
}

.stockWaste {
    display: block;
    background-color: transparent;
    img {
        width: 37%;
        margin-bottom: 20%;
        margin-top: 0%;
    }
    button {
        width: 50%;
        font-size: 14px;
        padding-right: 20%;
        margin-bottom: 20%;
    }
}

.tableaus {
    display: flex;
    // background-color: transparent;
    img {
        // width: 30%;
        margin-top: -150px;
        max-width: 100%;
        position: relative;
    }
}

.foundations {
    display: block;
    background-color: transparent;
    img {
        width: 37%;
        margin: 20%;
        border: 2px solid #707070;
    }
}

.solitaireCard {
    img {
        width: 30%;
    }
}



// h2 {
//     text-align: center;
//     color: #707070;
// }

// img {
//     padding-top: 30px;
//     max-width: 100%;
// }

// p {
//     padding-top: 30px;
//     font-size: large;
//     color: #707070;
//     text-align: center;
// }

// .tab-list {
//     margin-top: 3%;
//     margin-bottom: 3%;
//     border-bottom: 1px solid #ccc;
//     padding-left: 0;
// }

// .tab-list-item {
//     display: inline-block;
//     list-style: none;
//     margin-bottom: -1px;
//     padding: 0.5rem 0.75rem;
// }

// .tab-list-active {
//     background-color: white;
//     border: solid #ccc;
//     border-width: 1px 1px 0 1px;
// }

button {
    border-width: medium;
    width: 8%;
}

button:hover {
    background-color: #787878;
    color: white;
}

#Note {
    font-style: italic;
    text-align: center;
    margin-bottom: 2%;
}
