@import '~normalize.css';
@import './global.scss';

span {
    font-style: italic;
}

.page-header {
    text-align: center;
    margin-top: 1.5%;
    padding: 2.5%;
    font-style: normal;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

#HomeImage {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

#HomeBlurb {
    text-align: center;
    font-size: 150%;
    font-weight: 200;
    line-height: 150%;
}

#AboutIntro {
    display: flex;
    margin: auto;

    img {
        width: 25%;
        height: 25%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    p {
        margin-top: 2%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        padding-top: 1%;
        font-size: 150%;
        font-weight: 200;
    }
}

#AboutPageContents {
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding-top: 1%;
    font-size: 150%;
    font-weight: 200;
    text-align: left;
}

#AboutProfiles {
    margin-top: 8%;
    color:#707070;

    h3 {
        text-decoration: underline;
        text-align: center;
        margin-bottom: 2%;
    }
    p {
        font-size: 125%;
        font-weight: 300;
        text-align: center;
    }
}

#MaterialImgContainer {
    position: relative;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

#MaterialMascot {
    width: 25%;
    opacity: 0.25;
}

#MaterialsBlurb {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#MaterialsMenu {
    display: flex;
}

.MaterialsMenuItem {
    text-align: center;

    a {
        p {
            font-size: 150%;
            font-weight: 200;
            color: #787878;
            text-decoration: underline;
        }

        img {
            width: 50%;
        }
    }
}

.dialog {
    box-shadow: 0 8px 6px -6px #707070;
    border: 3px solid #707070;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
}

.material-subpage-intro {
    display: flex;
    margin: auto;
    margin-bottom: 8%;

    img {
        width: 25%;
        height: 25%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    p {
        margin-top: 2%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        padding-top: 1%;
        font-size: 150%;
        font-weight: 200;
    }
}

#back-intro {
    width: 22%;
}

.material-subpage-item {
    margin-left: 3%;
    margin-right: 3%;
    color: #707070;

    h3 {
        text-decoration: underline;
    }

    h4 {
        text-decoration: underline;
    }

    .material-subpage-item-contents {
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 0.5%;
        margin-bottom: 9%;

        p {
            font-size: 125%;
            font-weight: 300;
            margin-bottom: 3%;
            text-align: left;
        }

        .material-subpage-item-images {
            display: flex;
            justify-content: center;

            .material-subpage-item-image-caption {
                margin-left: 3%;
                margin-right: 3%;
                width: 30%;
                text-align: center;
                img {
                    object-fit: scale-down;
                    margin-bottom: 3%;
                    height: 300px;
                }

                .popup-image {
                    padding: 1%;
                    margin: 1px;
                    width: 100%;
                    height: 100%;
                }

                p {
                    font-size: 80%;
                }
            }
        }

        .back-caption {
            font-size: 90%;
        }
    }

    #SourceFooter {
        text-align: center;
        font-weight: 300;
    }
}

#IconographyIntro {
    display: block;
    margin-bottom: 12%;
    text-align: center;

    img {
        width: 25%;
        margin-left: 3%;
        margin-right: 5%;
    }

    h3 {
        margin-top: 3%;
        margin-right: 3%;
        font-size: 150%;
        font-weight: 200;
    }
}

#SearchPage {
    h3 {
        text-align: center;
        margin-top: 3%;
        margin-right: 3%;
        font-size: 150%;
        font-weight: 300;
        color: #707070;
    }
}

.SearchBarPair {
    display: flex;
    column-gap: 5%;
    justify-content: center;

    .SearchBar {
        display: block;
        width: 45%;
    }
}

#SearchButton {
    text-align: center;
    margin-top: 3%;
}

#CardResults {

    .CardImage {
        width: 50%;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    li {
        display: inline-block;
        flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
        padding: 2%;
    }
    
    #CardOutline {
        padding: 5%;
    }
}

h2 {
    text-align: center;
    color: #707070;
}

img {
    padding-top: 30px;
    max-width: 100%;
}

p {
    padding-top: 30px;
    font-size: large;
    color: #707070;
    text-align: center;
}

.tab-list {
    margin-top: 3%;
    margin-bottom: 3%;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

button {
    border-width: medium;
    width: 8%;
}

button:hover {
    background-color: #787878;
    color: white;
}

#Note {
    font-style: italic;
    text-align: center;
    margin-bottom: 2%;
}