@import '~normalize.css';
@import './global.scss';


:root {
    --border-color: var(--border-color);
}



button:hover {
    background-color: #787878;
    color: white;
}



.page-header {
    text-align: center;
    margin-top: 1.5%;
    padding: 2.5%;
    font-style: normal;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

/**********************************************************************
 * Home
 **********************************************************************/
#home-card-grid {
    justify-content: space-between;
}

.link-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    flex-basis: 100%; /* by default, 1x4 grid */
    min-height: 300px;
    margin-bottom: 1rem;

    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transition: color 0.3s ease;

    border-radius: 4px;
    background-size: cover;
    background-position: top;
    text-decoration: none;

    &:hover {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
        transform: scale(1.02);
        color: white;

        .link-card-text {
            opacity: 1;
            max-height: 100%;
        }

        .link-card-content {
            height: 100%;
        }
    }
}

.link-card-content {
    background-color: rgba(1, 1, 1, 0.4);
    padding: 1rem;
}

.link-card-text {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

@media (min-width: 768px) {
    .link-card {
        flex-basis: 48%; /* for 2x2 grid */
    }
}



#BackMenuImage {
    margin-top: -12%;
    margin-bottom: -12%;
    transform: rotate(270deg);
}


.dialog {
    box-shadow: 0 8px 6px -6px var(--border-color);
    border: 3px solid var(--border-color);
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    text-decoration: underline;
}


.iconography-header {
    color: var(--border-color);
    text-decoration: underline;
    margin-bottom: 3%;
}

#IconographyIntro {
    display: inline-block;
    margin-bottom: 5%;
    text-align: center;

    img {
        width: 25%;
        margin-left: 3%;
        margin-right: 3%;
        float: left;
    }

    p {
        text-align: left;
        margin-left: 1.5%;
        margin-right: 3%;
        font-size: 150%;
        font-weight: 200;
    }

    a {
        color: var(--border-color);
        text-decoration: underline;
    }

    @media screen and (max-width: 500px) {
        img {
            margin: auto;
            width: 100%;
            padding-bottom: 20px;
        }
    }
}

#iconography-deck {
    margin-bottom: 5%;

    p {
        text-align: left;
        margin-left: 3%;
        font-size: 150%;
        font-weight: 200;
    }

    .iconography-deck-row {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;

        .iconography-deck-col {
            flex: 33%;

            .iconography-deck-card {
                text-align: center;

                img {
                    object-fit: scale-down;
                    height: 400px;
                }

                .popup-image {
                    padding: 1%;
                    margin: 1px;
                    width: 100%;
                    height: 100%;
                }

                p {
                    text-align: center;
                    margin-left: 0%;
                    padding-top: 1%;
                    font-size: 95%;
                }
            }
        }
    }
}


.search-link {
    font-size: 150%;
    font-weight: 200;
    text-align: center;
    margin-top: 1.5%;

    a {
        color: var(--border-color);
        text-decoration: underline;
    }
}

/**********************************************************************
 * Search
 **********************************************************************/
#search-page {
    display: flex;
    height: 100vh;
    overflow: auto;
}

#search-column {
    flex: 1;
    position: sticky;
    top: 0;
    padding-top: 1rem;
}

#search-results-column {
    flex: 3;


    .card-image {
        &.red {
        }
    }

    .card-name {
        font-weight: bold;
        &.red {
            color: red;
        }
    }

    #search-results-cards {
        // this is the ul
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            display: inline-block;
            flex: 0 0 30%;
            padding: 2%;
        }

        .card-image {
            width: 100%;
        }

        .card-name {
            float: right;
        }

    }

    #search-results-decks {

        .deck-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 10px;
        }

        .deck-card {
            display: inline-block;
            margin: 1rem;
            width: 100%;
        }

        .card-image {
            width: 100%;
        }
    }


}

.search-filter {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.explore-slider {
    width: 100%;
    background: #dfdfdf;
    outline: none;
    height: 2rem;
}

.explore-slider-thumb {
    text-align: center;
    background-color: white;
    cursor: grab;
    border: 1px solid black;
    padding: 5px;
}

.explore-slider-track {
    top: 45%;
    bottom: 0;
    background: #4286f4;
    height: 10%;
}

#search-select {
    margin-top: 0rem;
}

#tarot-mascot {
    width: 20%;
    height: 20%;
    margin-left: 1.5%;
    margin-right: 3%;
    float: left;
}

#tarot-history-menu-img {
    height: 72%;
}

.tarot-subpage-item {
    margin-left: 3%;
    margin-right: 3%;
    color: var(--border-color);

    h3 {
        text-decoration: underline;
    }

    h4 {
        text-decoration: underline;
    }

    .tarot-subpage-item-contents {
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 0.5%;
        margin-bottom: 9%;

        p {
            font-size: 125%;
            font-weight: 300;
            margin-bottom: 3%;
            text-align: left;
        }

        .tarot-subpage-item-images {
            display: flex;
            justify-content: center;

            .tarot-subpage-item-image-caption {
                margin-left: 3%;
                margin-right: 3%;
                width: 30%;
                text-align: center;
                img {
                    object-fit: scale-down;
                    margin-bottom: 3%;
                    height: 400px;
                }

                .popup-image {
                    padding: 1%;
                    margin: 1px;
                    width: 100%;
                    height: 100%;
                }

                p {
                    font-size: 80%;
                }
            }

            #tarot-revolutionary-card-reading {
                margin-left: 3%;
                margin-right: 3%;
                text-align: center;

                img {
                    margin-bottom: 3%;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                }

                .popup-image {
                    padding: 1%;
                    margin: 1px;
                    width: 100%;
                    height: 100%;
                }

                p {
                    font-size: 80%;
                    text-align: center;
                }
            }
        }

        @media screen and (max-width: 1300px) {
            .tarot-subpage-item-images {
                display: block;
                width: 95%;

                .tarot-subpage-item-image-caption {
                    width: 100%;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

#TarotDeckNote {
    text-align: center;
    font-weight: 300;
    font-size: 125%;
    color: var(--border-color)
}

#TarotHistoryNote {
    text-align: center;
    font-weight: 300;
    font-size: 125%;
    color: var(--border-color)
}


/**********************************************************************
 * Diviniation
 **********************************************************************/
#divination {
    .keyword-bubble {
        display: block;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 2px;
        background-color: #f7f7f7;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    .card-name {
        text-align: center;
        height: 3rem;
        font-weight: bold;
    }

    .keyword-bubble:hover {
        background-color: #e0e0e0; /* Slightly darker gray when hovered */
    }
}

/**********************************************************************
 * Solitaire
 **********************************************************************/
// NOTE(ryaan) 2023-08-07:
// It might be better to just draw the layout in JS on mount and after the window is resized.
.solitaire-game {
    max-height: 80vh;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid black;

    .game-card {
        max-width: 8vw;
        margin-right: 1rem;
        border: 0;
    }

    .stock-waste-container {
        display: flex;
    }

    .stock {
        margin-right: 1rem;
    }

    .waste {
    }

    .tableaus {
        padding: 1rem;
        display: flex;
    }

    .tableau-stack {
        margin-right: 2rem;

        .game-card:not(:first-child) {
            margin-top: -10vh;
        }
    }

    .foundations {
        display: flex;
        background-color: transparent;
    }

    .foundation-stack {
        &.empty {
            opacity: 0.5;
        }
    }
}
