{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{page_metadata.title}}</title>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        {% render_bundle 'index' 'css' %}
    </head>
    <body>
        <ul class="nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'manufacture' %}">Manufacture</a></li>
            <li><a href="{% url 'material' %}">Material Aspects</a></li>
            <li><a href="{% url 'fronts' %}">Fronts</a></li>
            <li><a href="{% url 'backs' %}">Backs</a></li>
            <li><a href="{% url 'envelopes' %}">Envelopes</a></li>
            <li><a href="{% url 'iconography' %}">Face Card Iconography</a></li>
            <li><a href="{% url 'games' %}">Play Games!</a></li>
            <li><a href="{% url 'bibliography' %}">Bibliography</a></li>
        </ul>
    </body>
</html>